.app {
  min-height: 1000px;
  background: rgb(137, 172, 184);
  display: grid; 
  justify-content: flex-start;
  align-items: center;
  
}

.tweet{
  height: 160px;
  width: 200px;
  background: lightgray;
  border-radius: 30px;
  border-style: groove;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* font-size: 13pt; */
}

.button {
  /* background-color: #008CBA;  */
  /* border: darkslategray; */
  color: white;
  padding: 15px 32px;
  text-decoration: aliceblue;
  text-align: center;
  /* text-decoration: blue; */
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s; 
  cursor: pointer;
  box-shadow: 0 6px rgb(72, 119, 119);
  outline: crimson;
  
}
.button:hover {
  /* background-color: #af4c4c; */
  /* #4c6faf */
  /* color: white; */
  /* box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}
.button:active {
  /* background-color: #e58f8f;  */
  box-shadow: 0 3px rgb(93, 101, 116);
  transform: translateY(4px);
  
}
ul {
  list-style-position: inside;
}
 .col-sm-4 {
  height: 200px;
  width: 250px;
  display: flex;
  flex: auto;
  max-width: 250px;
  
  border-radius: 30px;
  border-style: groove;
  justify-content: space-around;

  margin: 5px; 
  padding: 5px; 
  flex-direction: column;
  
} 

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  
  justify-content: center;
  padding-top: inherit;
}

.w3-border-bottom {
  border-bottom: 5px solid #ccc!important;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
