* {
  margin: auto ;
  padding: 0;
  box-sizing: border-box;
 
}
 body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* this is how to center body */
html, body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}